body {
  background-color: #70897A;
}

h1 {
  color: black;
  text-align: center;
  font-size: 45px;
}

p, ul {
  color: black;
  font-family: verdana;
  font-size: 30px;
}
table, th, td {
  text-align: center;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
th{
  background-color: #B2F0CD;
}
td{
  background-color: #A5E2BF;
}